{% extends "design/responsivebase.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="display-3">BIGHIT Industries Limited</h1>
            <h5 class="display-6">crew people</h5>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <h5 class="display-6">Our Crew People</h5>
        </div>
    </div>
    <div class="row text-center">
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/kimnamjoon.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">KIM NAMJOON</h5>
                <p class="card-text">President of a company</p>
                <a href="https://en.wikipedia.org/wiki/RM_(rapper)" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/kimseokjin.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">KIM SEOKJIN</h5>
                <p class="card-text">Cheif Executive Officer of a company</p>
                <a href="https://en.wikipedia.org/wiki/Kim_Seok-jin" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/minyoongi.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">MIN YOONGI</h5>
                <p class="card-text">Cheif Operating Officer of a company</p>
                <a href="https://en.wikipedia.org/wiki/Suga_(rapper)" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/junghoseok.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">JUNG HOSEOK</h5>
                <p class="card-text">Cheif Financial Officer of a company</p>
                <a href="https://en.wikipedia.org/wiki/J-Hope" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/parkjimin.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">PARK JIMIN</h5>
                <p class="card-text">Cheif Legal Officer of a company</p>
                <a href="https://en.wikipedia.org/wiki/Jimin_(singer,_born_1995)" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/jeonjungkook.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">JEON JUNGKOOK</h5>
                <p class="card-text">Cheif Marketing Officerof a company</p>
                <a href="https://en.wikipedia.org/wiki/Jungkook" class="btn btn-primary">More Details</a>
            </div>
        </div>
    </div>
 {% endblock  %}